<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Documentacion</title>
</head>
<body>
  <br>
  <br>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Beneficios</a>
      <a href="#testimonio" class="w3-bar-item w3-button">Testimonios</a>
      <a href="#about" class="w3-bar-item w3-button">Planes</a>
      <a href="#contact" class="w3-bar-item w3-button">Contactos</a>
      <a href="/main" class="w3-bar-item w3-button">registr</a>
     
    </div>
  </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="./assets/factura.png" alt="Architecture" width="1500" height="800">
</header>

<div class="w3-content w3-padding" style="max-width:1564px">

   
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Amigable para cualquier negocio:</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container"> 
        <img src="./assets/imagen1.png" alt="House" style="width:100%">
      </div>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container"> 
        <img src="./assets/imagen2.png" alt="House" style="width:100%">
      </div>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
         <img src="./assets/imagen3.png" alt="House" style="width:100%">
      </div>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <img src="./assets/imagen4.png" alt="House" style="width:100%">
      </div>
    </div>
  </div>
 
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Acerca de Nosotros</h3>
    <p> Somos una empresa nacional desde el año 2019 actualmente estamos validados por la Sunat.En factura Yape brindamos a nuestros clientes una aplicación de facturación electrónica y multiuso
    haciendo que las empresas de nuestros clientes obtenga mas valor en el mercado ademas de poder facilitarles el trabajo de declaraciones ante la Sunat  ya que nuestro aplicativo lo hace por ellos    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="./assets/planes2.png" alt="John" style="width:100%"> 
  </div>
  
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="./assets/planes3.png" alt="Jane" style="width:100%">
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="./assets/planes4.png" alt="Mike" style="width:100%">
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="./assets/planes5.png" alt="Dan" style="width:100%">
    </div>
  </div>

  <div class="w3-row-padding w3-grayscale" id="testimonio">
    <h2><b>Testimonios</b></h2>
    <br>
    <br>

    <div class="w3-col l3 m6 w3-margin-bottom"> 
        <h3>Juan Carlos Arteaga</h3>
        <p class="w3-opacity">Comerciante de la Tienda Ferreteria Artega</p>
        <p>Facil y Sencillo , muy buena atencion.</p>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom"> 
        <h3>Jane Rivera Silva </h3>
        <p class="w3-opacity">Architect</p>
        <p>Alcanzaron con las necesidades que requeria.</p>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom"> 
        <h3>Mario Jesus Romero</h3>
        <p class="w3-opacity">Architect</p>
        <p>Super amigable la interza es muy intendible el como utilizarlo ,100% recomendable.</p>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom"> 
        <h3>Evelyn Rosa Diaz</h3>
        <p class="w3-opacity">Architect</p>
        <p>Buen soporte y la factura muy rapida.</p>
    </div>

  </div>

  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contactos</h3>
    <p>Mantengamonos en contacto para tu siguiente proyecto.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
       
    </form>
  </div>
  
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>
          <br>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://web.facebook.com/facturayapesito?_rdc=1&_rdr"><img src="../assets/footer1.png"  width="45" height="45"></a></li>
              <li><a class="twitter" href="https://www.youtube.com/channel/UCGMvF11gcviwVD7Vmp22fBw"><img src="../assets/footer2.png"  width="45" height="45"></a></li>  
            </ul>
          </div>
        </div>
      </div>
</footer>
  

  

   